<div class="d-flex h-100 w-100 p-3 flex-column">
  <header class="masthead">
    <div class="inner header">
      <img src="../../assets/logo.png">
      <h3 class="masthead-brand" style="font-size: xx-large">KeyCloud</h3>
      <nav class="nav nav-masthead justify-content-center"
           style="right: 3%;position: absolute;font-size: x-large"
            *ngIf="router.isActive('/dashboard', true) || router.isActive('/settings', true)">
        <a class="nav-link" id="overviewTab" routerLink="/dashboard">Overview</a>
        <a class="nav-link" id="settingsTab" routerLink="/settings">Settings</a>
      </nav>
    </div>
  </header>
  <router-outlet></router-outlet>
</div>
