<mat-card style="border-radius: 0; height: 100ch">
  <mat-card-content style="justify-content: center">
  <mat-form-field>
    <mat-label>Master Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="masterpassword">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
    <button mat-stroked-button (click)="copyToClipboard()" color="accent">Copy to Clipboard</button>
    <p>
      <button mat-stroked-button (click)="add2FA()" color="accent">Add 2 Factor Authentication</button>
    </p>
    <p>
      <button mat-stroked-button (click)="displayHelp()" color="accent">Help</button>
    </p>
  </mat-card-content>
</mat-card>
