<div class="d-flex h-100 w-100 p-3 flex-column">
  <h1 class="cover-heading">Password list</h1>
  <table class="table table-striped table-dark" style="width: 80vw">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Password</th>
      <th scope="col">Url</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tr *ngFor="let row of entries">
      <td *ngFor="let column of header">
        <span *ngIf="column == 'id' || column == 'username' || column == 'url'">{{row[column]}}</span>
        <button type="button" mat-raised-button color="primary" (click)="copyToClipboard(row)" *ngIf="column == 'password'">Copy to Clipboard</button>
        <button mat-raised-button
                matTooltip="Delete entry"
                color="warn"
                (click)="removeEntry(row)" *ngIf="column == 'Delete'">X</button>
      </td>
    </tr>
    <tr>
      <td colspan="5" style="text-align: center;">
        <button mat-raised-button
                matTooltip="Add new entry"
                (click)="openDialog()">+</button>
      </td>
    </tr>
  </table>
</div>
