<div mat-dialog-content>
  <p>New entry</p>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Url</mat-label>
    <input matInput [(ngModel)]="url">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" type="password">
  </mat-form-field>
  <button mat-raised-button matTooltip="Generate a password" (click)="generatePassword()">
    <mat-icon>fingerprint</mat-icon>
  </button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()">
    <mat-icon>close</mat-icon>
    Close
  </button>
  <button mat-raised-button [mat-dialog-close]="{username: username, url: url, password: password}">
    <mat-icon>save</mat-icon>
    Save
  </button>
</div>
